.footer {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

.footerLink {
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 5px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
}

.footerLink:last-child {
    margin-right: 0;
}
