.header {
    min-width: 150px;
    background-color: lightgreen;
    padding: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebarLink {
    display: block;
    width: 40%;
    margin-bottom: 8px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.sidebarLink:hover {
    color: white;
}

.active {
    color: blue;
}

.sidebarLink:last-child {
    margin-top: 50px;
}
