.container {
    height: 100%;
    display: flex;
    width: 450px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.dialogs {
    padding: 15px;
    border-right: 1px solid grey;
}

.messages {
    padding: 15px;
}

.messages > div {
    margin-bottom: 15px;
}


.container .active {
    color: red
}
